@{
    ViewBag.Title = "Home Page";
}

<style>
    #emailSenderModal .modal-body .row {
        margin-top: 10px;
    }

    #txtEmailContent {
        height: 100px;
    }

    #emailSenderModalLabel {
        display: inline-block;
    }
</style>

<div class="row">
    <div class="col-md-12 table-responsive" style="margin-top: 30px;">
        <form>
            <!-- Single button -->
            <div class="btn-group pull-right" style="margin-bottom: 10px">
                <button type="button" class="btn btn-primary dropdown-toggle pull-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Share <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#" data-toggle="modal" data-target="#emailSenderModal">Email</a></li>
                </ul>
            </div>
            <table id="EmailSender" class="display" style="width: 100%; ">
                <thead>
                    <tr>
                        <th>File Name</th>
                        <th>Creation Date</th>
                    </tr>
                </thead>
            </table>
        </form>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="emailSenderModal" tabindex="-1" role="dialog" aria-labelledby="emailSenderModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center" style="width: 90%" id="emailSenderModalLabel">Send Email</h4>
                <button type="button" id="btnClose" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row" style="margin-top: 0">
                    <div class="col-md-12">
                        <span id="lblError" class="text-danger"></span>
                        <h4 style="margin-top: 0"><b>Choose Files</b></h4>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="checkbox" id="chkAll" name="chkAll" />
                            <label>Select All</label>
                        </div>
                        <div class="col-md-12">
                            <input type="checkbox" id="chkCSV" name="chkCSV" />
                            <label>CSV</label>
                        </div>
                        <div class="col-md-12">
                            <input type="checkbox" id="chkXLS" name="chkXLS" />
                            <label>Excel</label>
                        </div>
                        <div class="col-md-12">
                            <input type="checkbox" id="chkPDF" name="chkPDF" />
                            <label>PDF</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="txtEmailTo" name="txtEmailTo" placeholder="Email" />
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="txtEmailSubject" name="txtEmailSubject" placeholder="Subject" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="txtEmailCC" name="txtEmailCC" placeholder="CC" />
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="txtEmailBCC" name="txtEmailBCC" placeholder="BCC" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        @*<input type="text" id="txtEmailContent" name="txtEmailContent" placeholder="Email content"/>*@
                        <textarea id="txtEmailContent" class="form-control" name="txtEmailContent" placeholder="Email content"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSendEmail" onclick="sendEmail();">Send</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>

            </div>
        </div>
    </div>
</div>


@section scripts
{
    <script>
        $(document).ready(function() {

            $.ajax({
                url: '@Url.Action("GetFileList")',
                type: 'POST',
                success: function (response) {
                    $("#EmailSender").DataTable(
                        {
                            data: response,
                            columns: [{ 'data': 'FileName' },
                                { 'data': 'Date' }]
                        });
                },
                error: function() {

                }
            });
        });

        function sendEmail() {

            var dataToSend = {
                To : $("#txtEmailTo").val(),
                CC: $("#txtEmailCC").val(),
                BCC : $("#txtEmailBCC").val(),
                Subject: $("#txtEmailSubject").val(),
                EmailContent: $("#txtEmailContent").val(),
                
                IsCSV: $("#chkCSV").is(":checked"),
                IsXLS: $("#chkXLS").is(":checked"),
                IsPDF: $("#chkPDF").is(":checked")

            };

            $("#btnSendEmail").attr("disabled", "disabled");

            $.ajax({
                url: '@Url.Action("SendEmail")',
                type: 'POST',
                data: dataToSend,
                success: function (response) {
                    if (response.IsValid) {
                        //hide model
                        $("#lblError").html('');
                        $("#btnClose").click();
                        alert("Email sent successfully");
                    } else {
                        //show error message
                        $("#lblError").html(response.Message);
                    }
                    $("#btnSendEmail").removeAttr("disabled");
                },
                error: function() {
                    $("#btnSendEmail").removeAttr("disabled");
                }
            });
        }

        $("#chkAll").click(function() {
            var selAll = $("#chkAll").is(":checked");
            $("#emailSenderModal input[type=checkbox]").prop("checked", selAll);
        });

    </script>

}